body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--white-color);
  color: var(--text-color);
}
.nodisplay {
  display: none;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
:root {
  --active-color: #2196f3;
  --title-color: #212121;
  --white-color: #ffffff;
  --text-color: #757575;
}

/* Лого */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
  text-decoration: none;
}
.logo > span {
  color: var(--active-color);
}

/* Главное меню */
.site-nav .link {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--active-color);
}
.site-nav .active {
  color: var(--active-color);
}
.site-nav .active:hover,
.site-nav .active:focus {
  color: var(--title-color);
}

/* Почта и номер телефона */
.auth-nav .link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--active-color);
}

/* Главное окно */
.section.hero {
  background-color: #2f303a;
}
.section.hero .title {
  font-weight: 900;
  font-size: 44px;
  color: var(--white-color);
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-color);
  background-color: var(--active-color);
  cursor: pointer;
  letter-spacing: 0.06em;
  font-family: inherit;
}

/* Преймущества блок */
.section.one .subtitle {
  font-weight: 700;
  font-size: 14px;
  color: var(--title-color);
  line-height: 1.15;
  text-transform: uppercase;
}
.section.one .text {
  font-size: 14px;
  line-height: 1.7;
}

/* Второй блок */
.section .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-color);
}

/* Третий блок */
.section.comanda {
  background-color: #f5f4fa;
}
.section.comanda .subtitle {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.section.comanda .text {
  line-height: 1.19;
}

/* футер */
.footer {
  background-color: #2f303a;
}
.footer .logo {
  color: var(--white-color);
}
.link-white,
.link-grey {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}
.link-white {
  color: var(--white-color);
}
.link-grey {
  color: rgba(255, 255, 255, 0.6);
}
.link-white:hover,
.link-white:focus,
.link-grey:hover,
.link-grey:focus {
  color: var(--active-color);
}
/* фильтр на странице портфолио */
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-color);
  background-color: #f5f4fa;
  cursor: pointer;
  font-family: inherit;
}
.btn:hover,
.bth:focus {
  background-color: var(--active-color);
  color: var(--white-color);
}
/* карточки товара */
.card h2 {
  font-weight: 700;
  font-size: 18px;
  color: var(--title-color);
  line-height: 2;
  letter-spacing: 0.06em;
}
.card p {
  font-size: 16px;
  line-height: 1.88;
}
